<!-- classification/templates/classification/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Disease Classification System{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">  <!-- Link to a CSS file -->
</head>
<body>
    {% if error %}
    <div class="error">{{ error }}</div>
{% endif %}

    <header>
        <h1>Disease Classification System</h1>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li>Welcome, {{ user.username }}!</li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href="{% url 'password_change' %}">Change Password</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <!-- This is where the child templates will be inserted -->
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Disease Classification System</p>
    </footer>

</body>
</html>
